[2020-09-24 23:40] S4nderr opened #1 "Facebooklogin?"
Hey,

What happend to the Facebook login?

[2020-09-25 06:17] frederikme commented on #1
Hey Sander,

I was currently unable to test that way of logging in, so I had removed it temporary until I had a moment to look into it. I'm planning on bringing Facebook login back in an update later today. So no worries.🙂 Once it's 'back online' I'll make sure to close this thread so it'll let you know.

I'm glad you're enjoying Tinderbot.

Greetings,
Frederikme

[2020-09-25 09:33] frederikme commented on #1
Hey Sander,

As promised, the Facebook login is available again. It should work smoothly without any issues now.
If not, feel free to open another issue.

Have fun, stay safe.
Fred

[2020-09-25 09:33] #1 closed

[2020-11-26 04:11] S4nderr opened #2 "Wont login with Facebook although element is present.."
_____ _           _           _           _
|_   _(_)_ __   __| | ___ _ __| |__   ___ | |_
  | | | | '_ \ / _` |/ _ \ '__| '_ \ / _ \| __|
  | | | | | | | (_| |  __/ |  | |_) | (_) | |_
  |_| |_|_| |_|\__,_|\___|_|  |_.__/ \___/ \__|

-> Made by Frederikme
-----------------------------------

Getting ChromeDriver ...
Adding Location Guard extension ...

[WDM] - Current google-chrome version is 87.

[2020-11-26 09:38] frederikme commented on #2
Hi @S4nderr,

Which button is not being clicked? The button 'Login with Facebook' on Tinder.com or the button 'Login' in the popup of Facebook?
If possible, could you provide a screenshot of where it goes wrong?

[2020-11-26 10:01] frederikme commented on #2
@S4nderr
I found the issue and it should be fixed by now.
It was regarding this line `xpath = '//*[@aria-label="Login with Facebook"]'` in login_helper.py
The button could not be found using this xpath, since they changed the aria-label value to "Log in with Facebook".
Simply changing the line of code to `xpath = '//*[@aria-label="Log in with Facebook"]'` did the trick. :)

If the latest update di

[2020-11-26 10:01] #2 closed

[2020-11-27 00:33] S4nderr opened #3 "Only 1 new match, although I have 60 new matches. Bot gets stuck after a while."
Hi,

I have an issue where I run
[code]
[code]
Hi man,

I love this thing but running into 2 issues..

#1: I have about 60 new matches but the "Getting not-interacted-with, NEW MATCHES" only grabs 1 match and messages this instead of doing 60..

#2 After the a while the bot gets stuck I have no clue on how to fix this..

Sander

[2020-11-27 08:35] frederikme commented on #3
Hey @S4nderr,

Issue 1 should now be fixed in the latest update.
Problem: In line 70 of match_helper.py, only 1 match is grabbed instead of all matches for faster testing purposes, but forgot to change it back.
`line70: chatids = [chatids[0]]`
Solution: Deleting line 70 did the trick.

For issue 2: I'm not sure what causes it to fail. If the issue persists after this update, can you open a new iss

[2020-11-27 08:35] #3 closed

[2020-11-27 14:46] S4nderr opened #4 "Still freeze :("
Still freeezes and is not sending any messages now :(

INPUT:

[code]

OUTPUT:

[code]

[2020-11-27 15:30] frederikme commented on #4
Hey @S4nderr,

I'm not able to reproduce the error on my side, however I think I found a solution.
Basically the error isn't really about the bot, but rather about the storage and opening of json data locally.
In the latest update I applied an enforcement of encoding when loading the json on line 101 in storage_helper.py
I recommend deleting your current json file located at .../TinderBot/data/mat

[2020-11-27 16:37] S4nderr commented on #4
After deleting the files and update it work like a charm again ty!

[2020-11-27 16:45] S4nderr commented on #4
Hate to bring this...

But it stopped again :(

[code]

[2020-11-27 18:29] frederikme commented on #4
Should be fixed by now. :)
There was an infinite recursive function, which caused a crash.
It should be fixed by now.

[2020-11-27 18:29] #4 closed

[2020-12-14 07:32] Devansh2005 opened #6 "line 40 of profile"
**the error i am getting**
Made by Frederikme
Started session: 2020-12-14 12:59:35

Adding Location Guard extension ...
Getting ChromeDriver ...

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\Devansh\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

DevTools listening on ws://127.0.0.1:61758/

[2020-12-14 09:34] frederikme commented on #6
Hi @Devansh2005,

Thanks for opening such a well structured issue!
Regarding the issue, the aria-label varies between 'kilometres', 'kilometers' or 'miles' depending on the English used and location you're from. The issue should now be fixed.
If not, feel free to open a new issue. 👍

Thanks for helping to make the project bug free.

[2020-12-14 09:34] #6 closed

[2020-12-27 14:28] Mango200 opened #7 "Selenium driver not loading?"
Hi,

Hoping you can help with this one, It's probably a small mistake on my part, I've edited the quickstart.py with my details and when running it, I get the following error:

Started session: 2020-12-27 14:18:55

Adding Location Guard extension ...
Traceback (most recent call last):
  File "C:\Python39\Lib\site-packages\tinderbotz\quickstart.py", line 13, in <module>
    session = Session()
  Fi

[2020-12-27 15:19] frederikme commented on #7
Hi @Mango200,

The issue is regarding your the code not being able to find/locate the extension regarding geolocation adjustments.
One of the reasons this issue could occur is due to a different project structure. There are 2 ways to quickly fix this error on your side.

Option 1: Make sure your project looks like this.
- tinderbotz
    - helpers
        - ...
    - __init__.py
    - LocationGuard

[2020-12-27 16:36] #7 closed

[2020-12-27 16:36] Mango200 commented on #7
changed line 92, solved :)

[2021-01-05 18:18] userbradley opened #10 "Allow normal login using phone number"
**Is your feature request related to a problem? Please describe.**
Not from what I was able to find

**Describe the solution you'd like**
Be able to login and authenticate the way tinder usually does via logging in with an sms code

**Describe alternatives you've considered**
https://github.com/fbessez/Tinder#-sms-authentication-implemented-by-tagge-

**Additional context**
N/A

[2021-01-05 19:13] frederikme commented on #10
Hi @userbradley ,

Thanks for the suggestion.
The reason I didn't implement this from start was because it cannot be fully automated.
It still requires the user to manually enter the sms code that was received.

I would see the following solution for this feature.
1. The bot automatically goes to tinder.com
2. opens the sms login
3. fills in the phone number
4. the user gets their sms and fills it

[2021-01-07 02:22] userbradley commented on #10
Hey Fred,

That is exactly what I was thinking!

[2021-01-07 10:50] frederikme commented on #10
Hey @userbradley ,

A first version of the login using sms has now been implemented.
Documentation can be found [here](https://github.com/frederikme/TinderBotz/blob/master/DOCUMENTATION.md#login-by-sms) and an example of the usage can also be found in the [quickstart.py](https://github.com/frederikme/TinderBotz/blob/master/quickstart.py).
If anything wouldn't work as expected or any issue would oc

[2021-01-07 10:50] #10 closed

[2021-01-08 07:52] sgaurav510 opened #11 "Should have a random sleep time to prevent tinder from detecting the bot?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-08 09:46] frederikme commented on #11
Hi @sgaurav510 ,

The bot already has a sleep argument for between swipes implemented.
To avoid being spotted by there botdetection a few things are crucial:
1. don't send spammy looking messages as people will report your profile
2. don't like every profile (80% or so should do)
3. use the provided sleep argument to sleep between swipes
4. add a randomised longer sleep between two large blocks of

[2021-01-08 09:58] sgaurav510 commented on #11
Okay thanks buddy. Actually i am tinder plus user and have unlimited swipes, what changes should i make to amount and random sleep because i want to run the bot whole night without getting ban . Any suggestions?

[2021-01-08 09:58] #11 closed

[2021-01-08 10:17] frederikme commented on #11
I'm still looking into some options for making tinderbotz 100% bot detection proof, but for now the best thing to do is improving the sleeping between swipes. At night when you're not watching the script run, I would take 2 seconds of sleeping between every swipe to play it safe and a random 1 to 3 minutes between every 50 swipes or so. If that makes sense.
If it doesn't, just let me know and I'd

[2021-01-08 19:23] sgaurav510 commented on #11
[Running] python -u "c:\Users\sgaur\Downloads\TinderBotz-master\TinderBotz-master\auto_swipe.py"

         _____ _           _           _           _
        |_   _(_)_ __   __| | ___ _ __| |__   ___ | |_ ____
          | | | | '_ \ / _` |/ _ \ '__| '_ \ / _ \| __|_  /
          | | | | | | | (_| |  __/ |  | |_) | (_) | |_ / /
          |_| |_|_| |_|\__,_|\___|_|  |_.__/ \___/ \__/___|
        -

[2021-01-08 19:45] sgaurav510 commented on #11
Ohh I have fixed that error by simply adding import time and import random. but the issue now i am facing is the bot if it completes 100 likes it will stop whereas what i want is :-
 1.)When the bot completes 100 likes it Should sleep for a random time between 5-10 mins and then again starts .
2.) There should be a random time game between 1 to 3 second between each swipe , for better use for nigh

[2021-01-09 09:21] frederikme commented on #11
Given your requirements, I think the code below should do the trick. :)
[code]

[2021-01-21 18:35] S4nderr opened #12 "Is it possible to load profiles without the pictures on them?"
Hey,

Is it possible to load the profiles without saving the pictures so it goes a bit faster?

[2021-01-21 21:26] frederikme commented on #12
Hey @S4nderr,
It's technically possible, but I haven't implemented that (yet).
I'm a bit busy at the moment, but I'll make it work as soon as possible! (Probably in a day or two)
Thanks for contributing to Tinderbotz.
Greetings,
Fred

[2021-01-22 09:38] frederikme commented on #12
In the newest update you now have 3 ways to get and/or iterate through your matches.

**option 1 (Fastest)**
`session.getChatIds(new, messaged)`
-> returns a list [] of chatids
This is the fastest way to load your matches (new and messaged) in a way that you can iterate through them like this.
[code]
Downside: you can't use their name, age or bio to make a personalised message. (or anything else)

[2021-01-25 08:32] #12 closed

[2021-01-30 17:48] bashback opened #13 "getNewMatches seems to be malfunctioning"
It seems to be an error when i try to get new matches

new_matches = session.getNewMatches(quickload=True)

Getting not-interacted-with, NEW MATCHES
[>-----------------------------] 0% of the new matches handled.openchat 2:Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@href="/app/messages/my-likes"]"}
  (Session info: chrome=87.0.4280.141)
  (Driver info: ch

[2021-01-30 20:48] bashback commented on #13
Corrected adding the following statement on line 59 of match helper:
![image](https://user-images.githubusercontent.com/78273440/106367713-4d7d6200-6323-11eb-8650-95249947ea83.png)

[2021-01-31 09:25] frederikme commented on #13
Hi @bashback,

Thanks for noticing bugs and helping to fix them!
I changed line 59 of match_helper as you suggested, so it should work again in the newest update.

Have a nice day!

Fred

[2021-01-31 09:25] #13 closed

[2021-01-31 11:38] bashback opened #14 "Add "scroller" function - getMatches seems to be stoping at ~60"
Hey Frederik, first of all, I need to thank you since I had ~10k of Matches in my Tinder account and it became unmanageable.

Hopefuly with this scripts I can clean up a little bit by Match DB.

It would be nice though, for the getMatches functions, to add up a "scroller". What I mean by this, is that the functions is returning to me ~60 matches, it's only if I scroll down before running the code

[2021-01-31 14:26] frederikme commented on #14
Hey @bashback,

I'm glad you like the bot. :)
Anyways, I'll take a look to implement a feature that allows the user to define how many matches will be fetched using a scroll down mechanism.

[2021-01-31 17:12] Anopy opened #15 "Location Guard seems not working"
Hi @frederikme!
First of all, thank you for your hard work and for your marvelous bot, everything works like a charm.
However, I noticed that the LocationGuard extension doesn't work with the search service and raise this error :
"The search service is not working right now. Please try again later."
Is there an alternative to this deficient extension or another better extension for changing the lo

[2021-01-31 21:09] frederikme commented on #14
Hey @bashback ,

I have implemented a first version of getting all matches using a scroll down function (instead of just grabbing the 60 first visible ones).
The amount of matches you want to fetch can now be specified by the parameter *amount* as illustrated below.
[code]
As per default, **all** matches will be loaded using **quickload**. If you only want to load the first 10, 60, ..., 1234 amoun

[2021-01-31 21:09] #14 closed

[2021-01-31 21:36] frederikme commented on #15
Hi @Anopy,

 I'm glad you like Tinderbotz so far!
Let me start by thanking you for opening a new issue.
Contributing and noticing flaws or bugs is what makes this repository grow.

Back to topic: There seems to be an issue with the API of the extension that converts a search query into latitude and longitude values. However, your suggestion opens up a lot of possibilities to fix this problem. I wa

[2021-01-31 22:01] frederikme commented on #15
***UPDATE***
You can now set a custom location by using the following code:
`session.setCustomLocation("Barcelona, Spain", accuracy="100%")`
Where *accuracy* is an optional parameter which is by default 100%.

**NOTE:** As you can see, the extension has become obsolete so it has been deleted from the project.

If any problem occurs, feel free to open a new issue!
For now, I'm closing this one.

Ha

[2021-01-31 22:01] #15 closed

[2021-01-31 22:16] frederikme opened #16 "Clean up code and add documentation to code"
***Reminder to myself to start cleaning up the code + adding well-written documentation to each class/function/method.***

[2021-02-04 11:35] hakito73 opened #17 "When trying to connect on gmail "This Browser/application is not secured""
**Describe the bug**

When trying to connect on gmail I got this error after the bot put the mail "This Browser/application is not secured" "Try to use an application/browser different"

I tried to allow low security on chromedriver and on my Gmail account but even after 3+ hours of searching I can't found a solution.

**Screenshots**
![image](https://user-images.githubusercontent.com/46843079/106

[2021-02-04 12:22] Anopy commented on #17
Hi !
To login to a website with selenium and a gmail address (a google account) **the google account must be recent** however it makes this error.
Try with a new / more recent google account and see !

[2021-02-04 13:43] frederikme commented on #17
Hi everyone,

I'm not able to reproduce the issue so I can't really test if it works.
But, I've added 2 lines of code in the newest update. Could you check if this solves your problem?
I've added the following code below line 83 in tinderbotz/session.py
[code]

Have a nice day,

Fred

[2021-02-04 13:50] frederikme commented on #17
In addition I'd like to add this source: https://stackoverflow.com/questions/60117232/selenium-google-login-block

Where the accepted answer gives a few solutions, such as:
1. allowing less secure apps
2. disabling two factor authentication
3. some obfuscating of the automation framework (selenium)

This last solution is what I added into the newest update where I took the accepted answer its code

[2021-02-08 09:49] frederikme commented on #17
@hakito73 , is the problem still persisting?

Greetings,

Fred

[2021-02-09 17:18] #17 closed

[2021-02-19 17:29] frederikme opened #18 "Feature: Retrieving and storing messages"
Retrieving and storing the latest x amount of messages for your match(es).

[2021-02-25 01:58] bashback opened #19 "Get messaged matches is not working"
Get messaged matches is not working. I think TInder updates messes up this script.

[2021-02-26 15:09] S4nderr opened #20 "match tab could not be found, trying again"
COOKIES ACCEPTED.
COOKIES ACCEPTED.
ACCEPTED LOCATION.
DENIED NOTIFICATIONS.
match tab could not be found, trying again
match tab could not be found, trying again
match tab could not be found, trying again

any clue?

[2021-02-26 16:25] frederikme commented on #20
Yeah I do,
Tinder changed their html layout so I'd need to update all xpaths.
Unfortunately, I haven't yet had the time to fix it.
I'll be able to fix it next week though.

[2021-02-26 16:26] frederikme commented on #19
Hi @bashback ,

Tinder changed their html layout so I'd need to update all xpaths in order for the project to work again.
Unfortunately, I haven't yet had the time to fix it.
I'll be able to fix it somewhere next week though.

[2021-02-26 16:27] S4nderr commented on #20
Oeef, sound like a lot of work I'm not all too good with coding but if
there is anything I can do like easy job I wouldn't mind helping at all!

Op vr 26 feb. 2021 om 17:26 schreef Frederik <notifications@github.com>

[2021-02-26 19:57] stickman33 commented on #20
Seems its not liking too just refreshing the page and writes in console that profile was liked. Ive tried to change xpaths in geomatch_helper.py for like/dislike buttons but im just a beginner and noob in Python so I got no result :(

[2021-02-27 18:24] shray7698 opened #21 "unable to login on google"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-27 18:24] shray7698 commented on #21
unable to login on gmail , says it is unsecured to login to gmail

[2021-03-04 10:54] frederikme commented on #19
Hi @bashback,

It should work now, I did some quick hot fixes and I'm looking for a cleaner solution future wise.
Anyways, if something wouldn't work as expected, feel free to open a new issue.

Have a nice day!
Fred :)

[2021-03-04 10:54] #19 closed

[2021-03-04 10:58] frederikme commented on #20
Hello @S4nderr , @stickman33

I did some hot fixes, so it should work again as expected. (at least the liking, geomatch and match grabber)
I haven't tested the messaging yet.
(I'm still looking for a cleaner more permanent way, but for now this should do the trick)

Anyways, if it doesn't work yet after this update, please open a new issue and I'll look into it! :)

Have a nice day,

Fred

[2021-03-04 10:58] #20 closed

[2021-03-04 11:00] frederikme commented on #21
Hi @shray7698 ,

Google recently improved it security measurements against bots, automation and spam.
I haven't yet found a work-around to obfuscate selenium (the framework) better, but I'm definitely working on it.
For now the best thing to do, is link your tinder account with your Facebook profile and use your Facebook to login.

I'm sorry for the inconvenience.

Greetings,
Fred :)

[2021-03-10 22:16] yochristianx opened #25 "Returning 'Successful Rate' Metadata for Scraped Photos?"
Hey all,

I'm currently working on a project looking into the metadata of the success rate for each individual photo of a given profile (based off of Tinder's 'Smart Photos' feature, but I'm getting stumped at how to implement this. Can we integrate this feature into the geomatch code? Or any ideas on how to effectively do this?

Thank you for your time!

[2021-03-11 10:28] frederikme commented on #25
Hi @yochristianx ,

Just wanted to let you know that I've seen your issue and I'm still thinking about a solution.
However, there are a few difficulties to achieve this of which I believe the biggest problem is to be the following:
* We don't know to how many people your profile has been shown, we only know the ones that swipe right on you (absolute value). Thus, there is not really a simple way t

[2021-03-11 16:04] frederikme commented on #21
Hello @shray7698 ,

Good news, the google login is working again in the newest update. (or at least on my Mac)
I updated the user agents that should be used according to the corresponding operating system.
Can you verify if it's working for you too and if so, close this issue?

Many thanks for contributing to Tinderbotz by reporting bugs.

Greetings,
Fred

[2021-03-11 16:07] frederikme commented on #17
Hi @hakito73 and @Anopy ,

Just quickly responding here to let you know this issue has been handled with in issue #21 and should be resolved now in the newest update.
I can login again using google, can you guys check if it works for you aswel?

Have a nice day!
Fred

[2021-03-11 21:34] p4perz opened #26 "issues since tinder update?"
hey man,

great job on the code.

I was using a code where the login functions were called like this:
session.loginUsingGoogle()

Since a few days I bump into this issue while running the code:
match tab could not be found, trying again

If I use your newest code I get this error:
This browser or app may not be secure.
Try using a different browser. If you’re already using a supported browser, you

[2021-03-11 21:38] p4perz commented on #21
aaah, I opened a new issue, but this describes the same problem. Sorry for that.

The issue still remains for me on Linux.

[2021-03-11 21:51] frederikme commented on #26
Hi @p4perz ,

Thanks for helping to debug Tinderbotz.
Currently it works for me on my macbook, so I can't really replicate the issue.
Can you check if commenting out line 86 of session.py fixes your problem?

Line 86: options.add_argument(f"user-agent={useragent}")

Greetings,
Fred

[2021-03-12 07:54] p4perz commented on #26
Hey @frederikme,

This did the trick for me on Ubuntu. Thanks for solving this issue.

Cheers

[2021-03-12 08:04] frederikme commented on #26
@p4perz ,

Glad to hear it works now, I'll update the project to fix this issue for everyone and I hereby close this issue.

Have a nice day,

Fred

[2021-03-12 08:04] #26 closed

[2021-03-12 08:20] frederikme commented on #21
Hello everyone,

Basically it should be fixed now for all operating systems.
I'm hereby closing this issue. If for some reason it wouldn't be fixed or if you have any other problems, feel free to open a new issue.

Have a nice day,
Fred

[2021-03-12 08:20] #21 closed

[2021-03-22 13:13] mark-baumann opened #27 "No Module named Tinderbot"
Hello,

I have following Issue on my Raspberry Pi with Python 3.7

<img width="777" alt="Bildschirmfoto 2021-03-22 um 14 10 58" src="https://user-images.githubusercontent.com/60445235/111994899-9ded9080-8b18-11eb-9535-6eb69c21b884.png">

Does anyone know how to fix this module error?

Mark

[2021-03-22 13:54] frederikme commented on #27
Hello @mark-baumann ,

I believe the issue is caused by a typo in your import statement.
Can you try changing the first line of your script as described below.
`from tinderbot.session import Session` **->** `from tinderbotz.session import Session`

Hope it helped. :)

greetings,

Fred

[2021-03-22 20:32] mark-baumann commented on #27
ok thx. this issue is now solved. Maybe you can write it in the documentation https://github.com/frederikme/TinderBotz/blob/master/DOCUMENTATION.md ;)

I have now a Issue with the armv / armv7l architecture. (raspberry pi). Is it even possible to run the bot on a pi? Should I create a new issue for that?

[2021-03-22 21:40] frederikme commented on #27
Great!

I'll definitely take a look, to add some clarification in the documentation. :)
For the other problem you stumbled upon, can you open a new issue with some extra details?
As far as I know, it should be able to run on a raspberry pi.

Greetings,
Fred

[2021-03-22 21:40] #27 closed

[2021-03-22 21:58] mark-baumann opened #28 "TinderBotz on Raspberry Pi"
Hello,

I want to install the Bot on a RPI 3b.

I installed the Script and all requirements from the text file.

<img width="1440" alt="Bildschirmfoto 2021-03-22 um 22 52 27" src="https://user-images.githubusercontent.com/60445235/112063213-550dfa00-8b61-11eb-982a-c61e9f29100e.png">

Now I got the Error, Chrome is not found on my device. I only have installed Chromium.

It is not possible to insta

[2021-03-23 08:43] frederikme commented on #28
Hi @mark-baumann ,

You can use Chromium instead of Chrome by adding the following things.
1. open the session.py file (in tinderbotz)
2. add the following import statement at the top of the file `from webdriver_manager.utils import ChromeType`
3. Change line 78 (could be line 79 or so after your added import statement)
**from:** `self.browser = webdriver.Chrome(ChromeDriverManager().install(), op

[2021-03-23 09:57] mark-baumann commented on #28
<img width="1440" alt="Bildschirmfoto 2021-03-23 um 10 56 43" src="https://user-images.githubusercontent.com/60445235/112128215-7ce37900-8bc6-11eb-8406-397ef1e8901c.png">
Now I get this error.

[2021-03-23 09:59] frederikme commented on #28
Could you copy paste the entire error message pls :)

[2021-03-23 10:01] mark-baumann commented on #28
Getting ChromeDriver ...

[WDM] - ====== WebDriver manager ======
/bin/sh: 1: chromium: not found
[WDM] - Current chromium version is 84.0.4147
[WDM] - Get LATEST driver version for 84.0.4147
[WDM] - There is no [linux32] chromedriver for browser 84.0.4147 in cache
[WDM] - Get LATEST driver version for 84.0.4147
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com

[2021-03-23 10:13] frederikme commented on #28
This seems to be an issue with the pip package webdriver-manager that handles the installation of the webdriver(https://github.com/SergeyPirogov/webdriver_manager/). You can always try to open an issue there regarding this issue on your raspberry pi.

An other option is to circumvent the problem by setting up the chrome driver manually.
Therefore you'd need to download the binary chromedriver, unz

[2021-03-23 10:33] mark-baumann commented on #28
I made your second idea. Installed the .tar file. Unzip it to the Tinder Botz directory and than changed the Permission to 'everybody' (read and write) Link: https://github.com/SergeyPirogov/webdriver_manager/releases/tag/v.3.3.1

Also I added the Line of code `self.browser = webdriver.Chrome('/home/pi/tinderbotz/webdriver_manager')`

Error Message:

Getting ChromeDriver ...
Traceback (most recent

[2021-03-23 11:10] frederikme commented on #28
My bad for the miscommunication, the zipfile you need to unpack can be found here
https://chromedriver.storage.googleapis.com/index.html where you need to download a version which is compatible.
I believe for Linux_32, you can use this one https://chromedriver.storage.googleapis.com/index.html?path=2.9/

[2021-03-23 11:19] frederikme commented on #28
My bad for the miscommunication, the zipfile you need to unpack for armhf can be found here
https://launchpad.net/ubuntu/trusty/+package/chromium-chromedriver.
(step by step example of how to make it work can be found here https://www.reddit.com/r/selenium/comments/7341wt/success_how_to_run_selenium_chrome_webdriver_on/)

[2021-03-23 11:20] mark-baumann commented on #28
Getting ChromeDriver ...
Traceback (most recent call last):
  File "/home/pi/TinderBotz/marksbot.py", line 3, in <module>
    session = Session()
  File "/home/pi/TinderBotz/tinderbotz/session.py", line 79, in __init__
    self.browser = webdriver.Chrome('/home/pi/TinderBotz/chromedriver_linux32/chromedriver')
  File "/home/pi/.local/lib/python3.7/site-packages/selenium/webdriver/chrome/webdriver.

[2021-03-23 11:24] frederikme commented on #28
I noticed I referenced the wrong url in my previous comment, so I had deleted it and wrote another comment instead, which you've probably missed. Can you take a look at that solution? :)

[2021-03-23 11:45] mark-baumann commented on #28
I think I have now installed the Chromedriver to my pi. There is now a driver installed at: /usr/lib/chromium-browser/chromedriver

The error message is now:

Traceback (most recent call last):
  File "/home/pi/TinderBotz/marksbot.py", line 1, in <module>
    from tinderbotz.session import Session
  File "/home/pi/TinderBotz/tinderbotz/__init__.py", line 1, in <module>
    from tinderbotz.session

[2021-03-23 12:18] mark-baumann commented on #28
On Mac OS I have nearly the same error:

<img width="672" alt="Bildschirmfoto 2021-03-23 um 13 16 07" src="https://user-images.githubusercontent.com/60445235/112145064-313aca80-8bda-11eb-8e16-98998aebde8c.png">

[2021-03-23 12:18] frederikme commented on #28
This issue is usually caused by the encoding format. You need to change the encoding format of the python files to UTF-8. (this can be done using Notepad++ for example). A quick search on stack overflow will probably show you how to do so. :)

[2021-03-23 12:23] mark-baumann commented on #28
It is already UTF-8
<img width="1024" alt="Bildschirmfoto 2021-03-23 um 13 22 48" src="https://user-images.githubusercontent.com/60445235/112145641-e8cfdc80-8bda-11eb-8cde-0c1d0b2502d0.png">

[2021-03-23 13:50] frederikme commented on #28
Which version of python are you using on your Mac?

[2021-03-23 14:12] mark-baumann commented on #28
mark@MacBook-Air TinderBotz % python3 marksbot.py
Traceback (most recent call last):
  File "marksbot.py", line 1, in <module>
    from tinderbot.session import Session
ModuleNotFoundError: No module named 'tinderbot'
mark@MacBook-Air TinderBotz % python3 marksbot.py
/Library/Python/3.8/site-packages/selenium/webdriver/firefox/firefox_profile.py:208: SyntaxWarning: "is" with a literal. Did you mea

[2021-03-23 14:28] mark-baumann commented on #28
also I get a lot of errors at installing the requirements.

mark@MacBook-Air TinderBotz % pip3 install -r  requirements.txt
Requirement already satisfied: selenium in /Library/Python/3.8/site-packages (from -r requirements.txt (line 1)) (3.141.0)
Requirement already satisfied: webdriver-manager in /Library/Python/3.8/site-packages (from -r requirements.txt (line 2)) (3.3.0)
Collecting Pillow (from

[2021-03-23 15:18] mark-baumann commented on #28
Yes! On Mac I got now the Script running....updating pip helped me

[2021-03-23 17:30] #28 closed

[2021-03-23 19:25] mark-baumann commented on #18
Is it possible to add messages? I didn't get it.

[2021-03-30 18:56] revorch opened #31 "Extremely low "Elo" score or potential shadowban"
1. Create new account
2. Use phone number because you didn't figure out how badly Tinder's email servers are overrun
3. Re-authenticate a lot of times in one day because of the above (delays of 5-10min)
4. Like about 800 profiles with a randomised delay between 2-3s and a rate of 72.5%
5. Don't get any matches whatsoever and be stuck at 4 likes

I guess either they fixed something, or this is some

[2021-03-30 23:01] DarkKni0ht commented on #31
Having the same problem here with a new account

[2021-03-31 22:13] DarkKni0ht opened #32 "Message cannot be send"
i get this error by the end of the session
selenium.common.exceptions.StaleElementReferenceException: Message: stale element reference: element is not attached to the page document

[2021-04-01 08:57] frederikme commented on #32
Do you get this error when trying to send a message or when you end the script?

[2021-04-01 12:58] frederikme commented on #31
They're always pretty strict on new Tinder accounts, opening a support ticket will remove you shadowban :)

[2021-04-01 18:11] revorch commented on #31
Do you think? I mean, it's less noticeable than an actual ban, I'm not
even sure Tinder ever officially acknowledged the existence of
shadowbans. Anyway I started a new profile with a different phone number
and email and slightly altered photos, but I'm still having the same
issues (without having used Tinderbotz). I did use the same Google
account, which carried over the one month of Tinder Plus

[2021-04-01 21:26] DarkKni0ht commented on #32
i get this error when trying to swipe

raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.ElementClickInterceptedException: Message: element click intercepted: Element <button aria-controls="t-295659829" aria-selected="true" class="focus-button-style Cur(p) Fw($bold) D(f) Fxd(r) Px(8px)" id="t-76021393" role="tab">...</button> is not clickable at point (59, 96). Other el

[2021-04-01 22:38] DarkKni0ht commented on #32
But this shows up right after the script ends
selenium.common.exceptions.StaleElementReferenceException: Message: stale element reference: element is not attached to the page document

[2021-04-02 09:02] frederikme commented on #32
Hi @DarkKni0ht ,

This was being caused by Tinder showing a new pop up, which is now being handled in the newest update.
So pulling the latest version should resolve your problem.  :)
If the problem persists feel free to re-open the issue.

Have a nice day,

Fred

[2021-04-02 09:02] #32 closed

[2021-04-02 09:09] frederikme commented on #31
It was someone using the tinderbot as well whom informed me on instagram that opening a support ticket resolved the issue of having a shadowban for him. For some reason Tinder then suddenly has some kind of confirmation that you're a real person behind the profile.
I recommend opening a ticket and say that you noticed you haven't gotten any matches lately.

[2021-04-02 10:57] revorch commented on #31
Alright, thanks for the tip. I've submitted a ticket now as you suggested
and will report back with my results. Do you think it might be safe to
use a bot after being un-shadowbanned? I personally would err on the side
of caution, but I'm still wondering.

2 Apr 2021 11:10:15 Frederik ***@***.***>:

[2021-04-02 12:43] frederikme commented on #31
I'd personally think it's even safer now to use a bot, since (but this is pure speculation) you have been scratched off some kind of 'new accounts / possible bot'-list.

[2021-04-05 20:46] frederikme commented on #31
@revorch any update on the support ticket?

[2021-04-05 21:46] revorch commented on #31
Oh yes, sorry. The issue doesn't seem to be resolved. I guess I'll
request deletion of my account and all data according to GDPR and wait
three months. Here's a copy of my ticket and the response for reference:

[code]

5 Apr 2021 22:46:27 Frederik ***@***.***>:

[2021-04-16 22:16] pomponchik opened #33 "Tinder is not connected"
Hello! Obviously Tinder was change own settings, there i could't to logging in. In console i see this:

[code]

[2021-04-17 01:16] ExpressNaab commented on #33
Cant login either, it doesnt seem to be able to click on the log in button on the top right

[2021-04-17 07:10] c0rrre commented on #33
Same problem here. But u can login if u click fast enough on the login Button yourself.

But even if u do the bot cant swipe right, so u guess the changed some stuff on their website

[2021-04-17 08:45] frederikme commented on #33
I'll take a look at it and keep you guys updated

[2021-04-17 09:05] frederikme commented on #33
Hi @c0rrre , @ExpressNaab, @pomponchik

The issue should now be resolved in the newest update. (So just pulling the latest version should make it work again)
Basically Tinder changed their html layout slightly, which required me to change the xpaths in the project as well.

If the newest update solved your problem, please close this issue.

Thanks for contributing to Tinderbotz and helping it be b

[2021-04-18 02:21] pomponchik commented on #33
Thank, @frederikme!

[2021-04-18 02:21] #33 closed

[2021-04-20 19:45] rushabhsooni opened #34 "stuck after login"
1 After login tinder ask to allow browser location or logout
our app disables and it reloads
2. endless loop
3. if i allow it manually then location does not change

[2021-04-20 21:41] arvindsr7 opened #35 "Curious about --headless implementation"
It's super fun project! Great job!

For fun, I was trying to run chrome in background using "--headless" option in session.py. When I ran it, I got the following error:

`The resource https://tinder.com/static/build/fonts/0d4ec08dc6b105c09ea2f98b104ee5be.woff2 was preloaded using link preload but not used within a few seconds from the window's load event. Please make sure it has an appropriate `as

[2021-04-20 22:00] frederikme commented on #34
Hi @rushabhsooni ,

Can you provide a bit more information about the issue?
Maybe a screenshot of where it's stuck, some logs or general information on what operating system and version of python you're using.

Greetings,

Fred

[2021-04-20 22:15] frederikme commented on #35
Hey @arvindsr7 ,

I'm glad you liked it so far. :)

Instinctively I'd think it wouldn't work headless, but I haven't tried it yet to be honest.
I'll definitely try and take a look at it, but I wouldn't get too high hopes about it.

Have a nice day,

Fred

[2021-04-21 06:41] c0rrre opened #37 "Bot crashes on start"
**Describe the bug**
The Bot crashes if u start it cause there is a new website popup he doesnt know yet.
Didnt know if its the same issue than #34 so I created a new issue

**To Reproduce**
1. start the bot
2. bot tries to login
3. crash

**Expected behavior**
Should work as smooth as before :)

**Screenshots**
![image](https://user-images.githubusercontent.com/5563418/115507631-a8688a80-a27c-11e

[2021-04-21 08:09] frederikme commented on #37
hello @c0rrre ,

The cookies popup on the Facebook login is now handled, so pulling the latest version should do the trick.

Thanks for contributing to Tinderbotz and help making it bugfree. :)
If this resolved your problem, please close this issue.

Greetings,

Fred

[2021-04-21 08:11] c0rrre commented on #37
Hallo @frederikme ,

Thanks for the fast bugfix and the awesome piece of software

[2021-04-21 08:11] #37 closed

[2021-04-22 03:57] ExpressNaab opened #38 "Doesnt login"
Seems like the bot is unable to press on the sign in on the top right corner once again, doesnt go past the first COOKIES ACCEPTED

![image](https://user-images.githubusercontent.com/20760985/115653517-9b58a380-a32f-11eb-998c-9ef06aa8691a.png)

[2021-04-22 07:35] frederikme commented on #38
Hello @ExpressNaab ,

The problem should be resolved now in the latest version.
If the problem persists after pulling the latest version, please reopen the issue.

Thanks for helping make tinderbotz bugfree.

Greetings,

Fred

[2021-04-22 07:35] #38 closed

[2021-04-22 12:09] #34 closed

[2021-04-22 18:13] ZeldrisNetwork opened #39 "windows support"
hi is not a feature idea,
is only a question.

This bot is currently working on windows?

[2021-04-22 18:21] frederikme commented on #39
Hi @ZeldrisNetwork ,

It should also work on Windows (as well as on Mac and Linux).
If it doesn't work for some reason, feel free to open an issue and I'll try to fix it as soon as possible for you.

Greetings,

Fred

[2021-04-22 19:28] ZeldrisNetwork opened #40 "phone number login not working"
hi the phone number login is not working, it open the google chrome windows and tinder and i have to put the phone number but when i log, the bot don't do anything

[2021-04-22 19:31] frederikme commented on #40
I'll take a look at it.
Nevertheless, I recommend linking a facebook profile for a much smoother and easier login with no manual intervention :)

[2021-04-22 20:15] frederikme commented on #40
That's weird, because it is working for me. Could you show me the code you're running?

[2021-04-22 20:18] #39 closed

[2021-04-22 20:41] rushabhsooni commented on #26
Try using login with facebook it will be a quickfix currently

[2021-04-22 20:43] rushabhsooni commented on #40
@frederikme there is an issue with location code it says location must me in lat and long and not in string has it occurred to you

[2021-04-22 22:46] frederikme commented on #40
@rushabhsooni could you provide some code so I can replicate the issue?

[2021-04-23 08:02] rushabhsooni opened #41 "Location code error"
this is the error on quickstart code it always occurs , please also provide option for tinder passport as it comes in premium as also running tinder in two devices location might not change.

Traceback (most recent call last):
  File "quickstart.py", line 13, in <module>
    session.set_custom_location("Leuven, Belgium")
  File "/home/rushabh/Desktop/test-2/TinderBotz/tinderbotz/session.py", line

[2021-04-23 17:42] MikeKravchenko opened #42 "dislike people who faraway"
Even if you put your location and set to show only ppl who close to you(for example 50 km away). It still gives you ppl who thousands of km from you. This is an annoying feature of Tinder.

So need to dislike everyone who far away.

To do that need to grep how far a person is and just make a check if the person below the distance we set

[2021-04-23 17:54] frederikme commented on #42
Hi @MikeKravchenko ,

It's definitely possible to like and dislike people based on distance.
Hopefully the code below could help you on track. :)

[code]

Greetings,

Fred

[2021-04-25 13:38] #42 closed

[2021-04-25 13:39] #41 closed

[2021-04-25 13:39] #40 closed

[2021-04-25 13:39] #31 closed

[2021-04-29 14:35] pshishod2645 opened #43 "tinderbotz is broken"
When I import tinderbotz, after downloading through pip and import it, I get the following error
[code]

This is happening while import tinderbotz.session in __init__.py inside tinderbotz

**To Reproduce**
`import tinderbotz`

[2021-04-29 14:42] frederikme commented on #43
Hi @pshishod2645 ,

That is correct. Your encountering problems because the published version of tinderbotz on pip is heavily outdated.
Since Tinder is changing their layout every now and then, it's not really worth the effort to update the package each time.
Cloning or downloading this repository, should solve the issue.
I'm sorry for the inconvenience.

Greetings,

Fred

[2021-04-29 14:44] pshishod2645 commented on #43
Thanks for the quick response!

[2021-04-29 14:44] #43 closed

[2021-04-29 14:47] frederikme commented on #43
No problem! If you run into further problem, feel free to open a new issue. :-)

[2021-05-05 08:31] c0rrre opened #44 "Problem with get_geomatch function"
Hi,

I tried to get the code from #42 working but there is nothing happening after line "session.get_geomatch()".
It looks like the code gets stuck there.

maybe there is a problem with getting the name in the session.py:

`
name = helper.get_name()
`

I also had a problem with the "name" while writting those matches :D
"name" didnt get exchanged by the name of the person xD

btw: nice project <3

[2021-05-05 10:20] frederikme commented on #44
Hi @c0rrre ,

Just wanted to let you know I'll look into it and get back at you as soon as possible. :)

Greetings,

Fred

[2021-05-05 10:31] frederikme commented on #44
Hi @c0rrre ,

The following code runs fine for me.
[code]

You can extract data from the object `profile` by calling one the following methods.
[code]

Greetings,

Fred

[2021-05-05 11:31] c0rrre commented on #44
Hi @frederikme ,

I copied your code but im get the following error:

[code]
Looks like profile is None at this moment

[2021-05-05 11:43] c0rrre commented on #44
ok its working now, looks like I had some other error in my code :(

[2021-05-05 11:43] #44 closed

[2021-05-05 12:25] frederikme commented on #44
@c0rrre, I believe the issue could indeed be caused by the code I posted earlier.
The error you were getting is not because profile is None, but because distance is None.

I started thinking of how this could occur and came to the conclusion that paying tinder members can choose to hide their distance and therefore it is None when trying to scrape it.

Possible solution to this is checking beforeh

[2021-05-08 00:10] nocomment-bln opened #45 "unmatching all matches"
hey hey
 I would like to clean up my account and would like to unmatch everything.

how can I do this with your script ?

Thanks :)

[2021-05-08 10:34] frederikme commented on #45
Hi @nocomment-bln ,

That's definitely possible. I'm currently not at home, but I'll get back to you as soon as possible.

Greetings,

Fred

[2021-05-08 15:49] pshishod2645 opened #46 "Can't login using gmail because of chromedriver's security"
The function `session.login_using_gmail()` isn't working mainly because chromedriver detects the script as a bot. This is a known problem, even after enabling `Turn access to less secure apps`. The only solution that I found on internet was to login on StackOverflow again and again and it'll eventually let you login on google.  But since you must've tested this script, you might know a better way?

[2021-05-08 19:26] nocomment-bln commented on #45
Would be nice :)

[2021-05-09 10:10] frederikme commented on #45
The following code would be the quickest way to unmatched all matches.

[code]

Hope this helps, if not feel free to ask :)

Greetings,

Fred

[2021-05-09 10:11] frederikme commented on #45
By the way, there was an issue with unmatching so you'd need to pull the latest version to fix that issue. :)

[2021-05-09 10:16] frederikme commented on #46
Hi @pshishod2645 ,

I'm aware of the problem.
For older gmail accounts the problem does not always occur, but for most people it does.
I'm still looking for a way to go around that, but haven't found a working solution just yet.
For now I recommend logging in using Facebook. :)

Greetings,

Fred

[2021-05-09 21:17] nocomment-bln commented on #45
Hey, I pulled the latest version and go this using your code snippet

unmatching 56f4c46fd71dd78f07123f085842e9acbce9b2127eae32c3
SOMETHING WENT WRONG FINDING THE UNMATCH BUTTONS
Message: no such element: Unable to locate element: {"method":"xpath","selector":"//button[text()="Unmatch"]"}
  (Session info: chrome=90.0.4430.93)
  (Driver info: chromedriver=90.0.4430.24 (4c6d850f087da467d926e8eddb765

[2021-05-10 09:51] frederikme commented on #45
This probably occurred because your browser has a different language setting.
To resolve this and override your browser language settings, I've added
`options.add_argument("--lang=en-GB")` in session.py

If you could pull the latest version again and let me know if it worked, that'd be great :)

Greetings,

Fred

[2021-05-10 12:08] nocomment-bln commented on #45
thanks for your support.

its a very funny behavior of tinder.

your script unmatches only one match. (at this time everything is set up in english) then tinder switches to german and your script can't find the button because its not "unmatch" anymore its "Match auflösen" instead.

any ideas ?
maybe you could add "match auflösen" as alias

[2021-05-10 20:30] frederikme commented on #45
I'll fix it tomorrow morning so it's not depending on a single language anymore but rather is working for all languages. 🙂

[2021-05-11 11:20] nocomment-bln commented on #45
well, now I'am banned..

[2021-05-11 11:51] frederikme commented on #45
Did your account get banned by just unmatching all your matches? Are you certain that you haven't been doing something else and are you sure you can't login on tinder anymore?

[2021-05-11 21:21] frederikme commented on #45
That's a first to be honest. I'd recommend contacting Tinder support and see what they have to say about that. Intuitively, I'd think that a ban wouldn't look like that. You can contact them through email or by phone.
https://policies.tinder.com/contact/intl/en

Keep me updated! :)

[2021-05-12 20:19] Neko2h opened #47 "Captcha handling"
Hi, thank you for your code! Is there any wat to handle a captcha? Cuz for now i cant even loging in, and a script is not waiting.
![image](https://user-images.githubusercontent.com/16054086/118038678-171a9e80-b378-11eb-8cb0-371e711cc5cf.png)

[2021-06-07 07:36] saygo-stack opened #48 "geomatch.get_name() is always none"
Regardless of how many profiles scraper.py goes through it always fails because geomatch.get_name() is always equal to none

[2021-06-17 13:01] frederikme commented on #48
Sorry for the late response, I've been a bit busy lately.
I've fixed the new path of get_name, so it should work again in the newest version.
If not, you can reopen the issue. :)

Thanks for helping to debug tinderbotz.

Greetings,
Fred

[2021-06-17 13:01] #48 closed

[2021-06-17 13:03] frederikme commented on #47
Handling captcha will not be worked on.
However I'll take a look to see if I can let the script wait and give you time to solve it manually before continuing.

Greetings,

Fred

[2021-06-17 13:03] #47 closed

[2021-06-17 13:03] #45 closed

[2021-06-24 10:19] rpopov74 opened #49 "bug new with new version of chrome 91"
Hi @frederikme,

The bot is stacking at "Liking profiles started" with the new version of chrome.
He tried to refresh the page in loop.

Thx for your script!

Desktop
 - OS: ubuntu 20.04
 - chrome : 91.0.4472

[2021-06-24 12:52] frederikme commented on #49
Yeah they changed their liking/disliking/superlike buttons, I'll be taking a look at it in a few hours :)

Thanks for creating the issue and letting me know

Fred

[2021-06-24 14:11] #49 closed

[2021-06-25 15:46] leandrocombr opened #50 "Custom script for me"
I need a custom script to visit my site you do for me?

[2021-06-27 17:27] frederikme commented on #50
@leandrocombr ,

Send me an email with further details `frederik.mees@gmail.com`

Greetings,

Fred

[2021-06-27 17:27] #50 closed

[2021-06-29 07:17] saroar opened #51 "python auto_swipe.py"
[code]

[2021-06-29 07:21] frederikme commented on #51
Hi @saroar,

I believe f-strings are supported since python 3.6 or later.
Upgrading your version of python should do the trick.

Greetings,

Fred

[2021-06-29 07:28] saroar commented on #51
python -V
Python 2.7.16

Also, we cant run without proxy?

[2021-06-29 07:32] frederikme commented on #51
You definitely can run it without proxy. (Per default it doesn't use a proxy)
Simply not passing the parameter proxy in session will create a session without proxy.

The issue here is your python version which is not compatible and thus crashes at the first possible point where there is a syntax error.

Firefox is not supported at the moment. But I'm glad it works now.
If you have any further ques

[2021-06-29 07:48] saroar commented on #51
Slider of distance will be adjusted...
Traceback (most recent call last):
  File "/Users/alif/Developer/Swift/Tinder/TinderBotz-master/quickstart.py", line 50, in <module>
    session.set_distance_range(km=150)
  File "/Users/alif/Developer/Swift/Tinder/TinderBotz-master/tinderbotz/session.py", line 134, in set_distance_range
    helper.set_distance_range(km)
  File "/Users/alif/Developer/Swift/Ti

[2021-06-29 07:54] saroar commented on #51
how i can do end less like without crash i am using quickstart

[2021-06-29 08:38] saroar commented on #51
how to fixed this issue ?

<img width="566" alt="Screenshot 2021-06-29 at 11 38 19" src="https://user-images.githubusercontent.com/8770772/123765558-8455a500-d8ce-11eb-9337-17d912dedc70.png">

[2021-06-30 18:06] saroar commented on #51
@frederikme what wrong with this code it consoles show me all link as I set it but when I see 2/3 like and dislike also 2/3
so console show me false logs here is my code

[code]

[2021-06-30 19:07] frederikme commented on #51
I'm not really sure what you mean, could you provide a screenshot of the console and webpage?

[2021-07-09 19:32] dimitrivisser commented on #46
Can undetected_chromedriver be the solution?
https://github.com/ultrafunkamsterdam/undetected-chromedriver

[2021-07-10 10:21] frederikme commented on #46
@dimitrivisser , that could indeed be a possible solution.
It would be great if someone could try it out or else I'll take a look at it in a few days when I'm back home 🙂

[2021-07-10 11:37] dimitrivisser commented on #46
I will give it a try, once I finished trying to understand your Python coding ;-)

[2021-07-23 03:55] jasonfox777 opened #55 "Get_Distance Issue"
Traceback (most recent call last):
  File "C:\Users\Dexters Laboratory\Desktop\Tindr\TinderBotz\auto_swipe.py", line 54, in <module>
    if profile.get_distance() <= maximum_distance:  # compare the distance to the maximum allowed distance
TypeError: '<=' not supported between instances of 'NoneType' and 'int'

I believe the path for the distance has changeD? Its returning None now ..

[2021-07-23 17:25] frederikme commented on #55
I can't check since I'm on vacation but there could be 2 reasons for this.
1. They changed the distance-html tag (thus the xpath changed and the project needs to be updated)
2. Premium users have the option to disable the distance on their profile. In that case it returns None for that premium user, since the distance is not being displayed.

Can you check which of these two problems is occurring?

[2021-07-25 22:03] jasonfox777 commented on #55
I figured it out, sorry. You called it. Comparing it to none first fixed the issue!

Ref: for anyone else that comes looking

`if distance is not None and int(distance) >= waytoofardistance:
`

[2021-07-25 22:03] #55 closed

[2021-07-25 23:47] jasonfox777 opened #57 "session.get_new_matches() Index out of range?"
I'm seeing the following error whenever i try using `  new_matches = session.get_new_matches()` without giving the amount and quickload option.. is there no way of loading all my matches?

[code]

[2021-07-26 12:59] jasonfox777 opened #58 "Get_Passion broken?"
In Geomatch_Helper.py, the get_Passions definition is set as

[code]

I guess there was an update because this is no longer pulling passions, it seems to pull random variables

See a sample print here

[code]

[2021-07-26 14:21] frederikme commented on #58
Hi @jasonfox777

Thanks for your interest in the project! A few things might be broken, since I haven't used some features myself in a while. I'll make sure to update it as soon as I'm back from the holidays. 🙂

You can probably expect an update on Monday next week (2nd of August) that has all features working again.

If you'd like to see any new features, feel free to open a new issue describing

[2021-08-02 15:03] AmrEmad0 opened #60 "xpaths need to update ?"
it's not working now
just keep refreshing the page
i think xpath need to update

[2021-08-08 14:22] andrewhearin commented on #35
Headless seems to work for me on latest version with Python 3.9.6, if that's helpful

[2021-08-08 16:23] frederikme commented on #60
Login with Facebook, liking/disliking and sending messages should all still work. The other options might be broken, I'll look into those asap, but I've been. bit busy lately :)

[2021-08-08 16:24] frederikme commented on #35
Great! I'll close this issue then. Thanks for the update! :)

[2021-08-08 16:24] #35 closed

[2021-08-23 22:36] o-Oby opened #61 "Chrome open with blank window twice "data:,""
Hi Frederik,

First of all your program seems very complete and well made... Unfortunately I am not able to make it work.

When I launch the program quickstart.py through the terminal, Google Chrome opens with a blank window and the word "data:," in the search bar. Then the same window open again and that's it.

Here is a quick video recording of what's happening : https://recordit.co/TpPA0XgmXl

[2021-08-24 11:04] frederikme commented on #61
Hi @o-Oby ,

Quickstart.py simply shows all the options you can do do using the script but needs modification to your own needs.
For example it shows how you can use a proxy, but the proxy itself it uses in the quickstart.py as an example is a fictional fake one that doesn't work.

However, the auto_swipe.py should work.
Can you try filling in your credentials in the auto_swipe.py file and try run

[2021-09-16 00:56] jasonfox777 commented on #57
Any idea if theres a fix for this? I'd like to load all my new matches so I can filter through them!

[2021-09-19 13:29] frederikme commented on #46
@dimitrivisser the undetected_chromedriver does the trick. I've used it in a private side project and it worked fabulously regarding logging with google authentication. Unfortunately I'll be no longer maintaining this repository. Nevertheless, if you'd have any questions you can always contact me.

[2021-09-28 04:08] jasonfox777 opened #62 "Sing In With Google no longer works"
Couldn’t sign you in
This browser or app may not be secure.
Try using a different browser. If you’re already using a supported browser, you can try again to sign in.

Seeing this error whenever I try to login with google

[2021-10-05 01:34] #62 closed

[2021-10-05 09:18] frederikme commented on #46
I've implement the undetected_chromedriver in the new version, since I needed it as well. You can now login again using gmail. Also I've added a chrome_profile so next time you'll be logged in by itself since the session is stored.

[2021-10-05 09:18] #46 closed

[2021-10-05 09:19] #60 closed

[2021-10-05 09:30] #58 closed

[2021-10-05 09:31] #61 closed

[2021-10-05 09:40] frederikme commented on #57
It should work again now in the latest update. :)

[2021-10-05 09:40] #57 closed

[2021-10-05 10:12] #51 closed

[2021-10-14 16:50] josu22 opened #64 "Problem with quickstart.py"
Traceback (most recent call last):
  File "C:\Users\zero-\Desktop\TinderBotz-master\quickstart.py", line 5, in <module>
    from tinderbotz.session import Session
  File "C:\Users\zero-\Desktop\TinderBotz-master\tinderbotz\__init__.py", line 1, in <module>
    from tinderbotz.session import Session
  File "C:\Users\zero-\Desktop\TinderBotz-master\tinderbotz\session.py", line 4, in <module>
    imp

[2021-10-14 17:27] frederikme commented on #64
Hi @josu22,

Python3.10 is not yet supported for the project. It will be in a later update, but that's not yet the case.
For now, downgrading your python version to something between 3.6.x - 3.9.x should do the trick.

Greetings,

Fred

[2021-10-15 15:07] #64 closed, assigned to nobody

[2021-10-22 21:58] rruales6 opened #65 "Chrome frezzes when finishing the first swipe"
The First Swipe works fine and when going to make the second one it freezes.

Steps to reproduce the behavior:
1. I followed all steps on readme.md
2. The Browser opens and makes de 1st swipe but freezes after that

console output

         _____ _           _           _           _
        |_   _(_)_ __   __| | ___ _ __| |__   ___ | |_ ____
          | | | | '_ \ / _` |/ _ \ '__| '_ \ / _ \| __|

[2021-10-30 20:01] jamessvoss-TF opened #66 "App stops saving all photos from a geomatch"
**Describe the bug**
If the session browser window is minimized or another app/window is moved to full screen, or the screen saver/lock screen is activated the program continues to run as expected however it only stores 1 photo at that point instead of all the users photos

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app and verify it is saving all the photos of a geomatch
2. Mi

[2021-10-31 17:05] frederikme opened #67 "Tutorial POLL"
Would you like a tutorial on Youtube for the following topics, then react to this issue with the corresponding emoji :)
- ❤️: Tutorial for setting up and using Tinderbotz
- 🚀: Tutorial for learning web automation using selenium so you can build your own (tinder)bot.

[2021-11-30 00:28] mertovski6 commented on #67
<3

[2021-12-29 21:01] WilliamEstrela opened #72 "Getting ChromeDriver ... ^CTraceback (most recent call last): File "/home/william/Área de Trabalho/TinderBotz/quickstart.py", line 10, in <module>"
[code]

[2022-01-06 13:52] philffm commented on #72
Same issue here - maybe it works with an older chrome version?

[2022-01-06 15:23] philffm commented on #72
For me it works when leaving out the user data dir - but that's just a workaround :)

`        # options.add_argument(f"--user-data-dir={user_data}")
`

[2022-01-06 16:01] WilliamEstrela commented on #72
Show, I made your process, put it in windows and logged in with gmail and it worked :)

[2022-01-08 16:56] eliac7 commented on #72
So guys, how did you fix that error?

`AttributeError: 'Session' object has no attribute 'started'`

[2022-01-13 00:21] Hughesy commented on #72
I tried this and still get the same error

[2022-01-13 08:33] frederikme commented on #72
@Hughesy , What python version are you using? I believe only 3.6 - 3.9 is compatible for the moment.
If you're using the right python version, then the issue should not be
`AttributeError: 'Session' object has no attribute 'started'`
but instead the real issue would be a bit further up in the logs. Probably somewhere when initialising `Session()`.

[2022-01-20 09:15] jahamed opened #74 "undetected_chromedriver?"
Installed requirements using pip3 and running python 3.9.2

Getting this error when running `python3 quickstart.py`

`
Traceback (most recent call last):
  File "/Users/hal/OtherCode/TinderBotz/tinder/quickstart.py", line 5, in <module>
    from tinderbotz.session import Session
  File "/Users/hal/OtherCode/TinderBotz/tinder/tinderbotz/__init__.py", line 1, in <module>
    from tinderbotz.session

[2022-01-20 09:31] frederikme commented on #74
Can you try uninstalling the package by `pip uninstall undetected-chromedriver`
Then install this specific version: `pip install undetected-chromedriver==3.0.3`

[2022-01-21 13:51] jahamed commented on #74
Thanks man!
Guess my python versions/pip versions were messed up zzz. Not too familiar with the python ecosystem anymore 👍.
Going to try to tweak your code to make swipes based off of the bio instead of random chance!

[2022-01-21 13:51] #74 closed

[2022-01-21 17:26] fro0m opened #75 "send_message() just does not send a message"
Chrome 97 verision

[2022-01-21 18:02] frederikme commented on #75
Project hasn't been updated for a few months, so some features might currently be broken.

[2022-01-22 20:45] dembarthe opened #76 "Improvement idea : Oracle machine for like/pass decisions"
**This is an issue for an improvement idea.**

**Describe the solution you'd like**
Instead of having just a random decision wether to like or pass a target/geomatch, I suggest using an oracle. Given several information (the Geomatcher object should be sufficient), it is possible to create a set of rules, for example :

- like the N first geomatches because high chances of being a match
- pass if

[2022-01-22 20:50] frederikme commented on #76
This definitely looks like a fun feature! It would allow users to better choose which profiles to like and which not.🙂

[2022-01-22 21:59] dembarthe commented on #76
I will try to show you a generic oracle in the next days.

I would also replace the generic "like()" method which calls another "like()" by a swipe(), because I think it is clearer to have a swipe() method that calls either like() or dislike() depending on the result of the Oracle, what do you think ?

[2022-01-25 09:49] d-cabral commented on #75
May I know what version are you using for the undetected_chromedriver to work? also the driver version you are using TIA

[2022-02-02 17:39] uysalibov opened #77 "Bot not accept the geolocation notification"
**Bot not accept the geolocation notification**
When user log in and then browser ask location permission. I need to accept it manually bot not accept it.

[2022-02-14 06:58] #77 closed

[2022-03-03 03:51] thebluecrusader opened #80 "'Session' object has no attribute 'started'"
Hi, im getting the following issue below. I fixed this when i first installed it by updating Chrome. I think the new Chrome update broke it so i tried downgrading to chrome 97 but it didnt work so i tried downgrading and reinstalling python the old and newer builds 3.1 and 3.7 and the same error. This could be a chrome version issue or something else, i used this bot for 3 weeks it just randomly b

[2022-03-04 12:20] frederikme commented on #80
Can you post the entire error?
The actual error occurs a bit higher in the log.
Probably about the version of Chrome.
In the log you can find your current chrome version or you can look it up it in the settings of your chrome.

In my case, I have version 98.0.1...

Then in line 111 or so in session.py you can set it custom to:
`self.browser = uc.Chrome(version_main=98, options=options)`

[2022-03-08 05:23] NeonMinnen commented on #11
Hey Frederik!

Thanks for this bit of code. I'm running into an issue. How would I add a swipe amount percentage to the posted code above?

Thanks!

[2022-03-24 23:10] Remonell commented on #16
Thanks for the code so far. I am having troubles getting the quickstart.py to run.
`ImportError: cannot import name 'Mapping' from 'collections'`

Extending the Getting Started section would be highly apprecciated.

[2022-04-01 07:33] Overseq commented on #67
Yes please

[2022-04-22 15:50] mark-baumann opened #81 "Cannot find session"
I have following error from the quickstarter.py file:

[code]

I am on Mac OS 12.3 and I have installed the Chrome Version 100.0.4896.127 (Official Build) (x86_64)
The script worked one year ago and now I have this problem.

My quickstarter.py config:
[code]
`

[2022-04-22 16:40] mark-baumann commented on #81
I also installed Selenium, the Chrome Webdriver, Python 3 and Google Chrome

[2022-05-13 22:38] thebluecrusader opened #82 ""UserWarning: find_element_by_xpath is deprecated""
C:\Users\Dean\AppData\Local\Programs\Python\Python310\lib\site-packages\selenium\webdriver\remote\webelement.py:393: UserWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  warnings.warn("find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead")

[2022-05-23 20:32] PierrunoYT opened #83 "Make an .exe or .bat file"

[2022-05-24 08:50] frederikme commented on #83
You can turn your python script(s) to executables using [`pyinstaller`](https://pyinstaller.org/en/stable/)

[2022-05-24 08:50] #83 closed

[2022-05-24 08:52] frederikme commented on #82
It's a warning for deprecation of the method in future updates of selenium.
You can replace `driver.find_element_by_xpath(xpath)` with `driver.find_element(By.XPATH, xpath)` if you want to get rid of the warnings.

[2022-05-24 12:01] PierrunoYT opened #84 "Can you make a video how to use the bot?"
Hey there

Can you make a video how to use the bot, because I don't know hot to set it up in Python.
Thanks

[2022-05-24 14:48] basanys opened #85 "problem with set_distance_range(100) and session.set_age_range(18, 25)"
`Slider of distance will be adjusted...
Traceback (most recent call last):
  File "/Users/basan/play/TinderBotz/auto_swipe.py", line 29, in <module>
    session.set_distance_range(100)
  File "/Users/basan/play/TinderBotz/tinderbotz/session.py", line 144, in set_distance_range
    helper.set_distance_range(km)
  File "/Users/basan/play/TinderBotz/tinderbotz/helpers/preferences_helper.py", line 51,

[2022-05-28 17:50] bhain7 opened #86 "Scraper only getting first image."
I'm having an issue that only the image folder and the JSON are getting the first image, even with:
geomatch = session.get_geomatch(quickload=False)

My first time using this script for educational purposes so not sure/ something could be misconfigured.

[2022-06-05 05:00] ahaun865 opened #87 "Session object has no attribute Started"
sorry i know that there is an etiquette to this, i dont know what it is so sorry just gonna go for it.

**Describe the bug**
Session attribute has no object Started

Traceback (most recent call last):
  File "/home/mprocter/Downloads/bot1/quickstart.py", line 10, in <module>
    session = Session()

  File "/home/mprocter/Downloads/bot1/tinderbotz/session.py", line 111, in __init__
    `uc.Chrome(

[2022-06-07 20:21] Abukevin commented on #86
I am having same issue with this script, did you already found a solution ?

[2022-06-07 20:40] bhain7 commented on #86
I did not, I got distracted.
I noticed that the script doesn't have the same issue if it swiping through the user's profile, so probably something about the selenium commands to pick up the photo scrolling button are failing on the general list of users.

[2022-06-08 11:00] Abukevin commented on #66
did you find a solution for this issue ?

[2022-06-11 22:13] paulsblackfriday opened #88 "Its working but when i chang ethe long lat custom location which is just similar to my regular city"
it has an issue closes immediately after i log in to chromedriver in my account and your belgium default Lat Long works but
when i want my Lat and Long in there it closes immediately. Do you know why?

[2022-06-29 23:45] Arwiim opened #89 "Please put the versions in the requirements.txt"
**Describe the bug**
AttributeError: 'Chrome' object has no attribute 'find_element_by_xpath'

**To Reproduce**
Steps to reproduce the behavior:
Just run with the latest versions of the requirements. by Default download the latests versions

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your pro

[2022-06-30 02:00] Arwiim commented on #86
You guys have to start maximazed chrome
already create a pr
#90

[2022-06-30 09:42] frederikme commented on #88
Can you share your code where you set the custom location? Also, Make sure you initialise your custom location before you login

[2022-07-08 14:18] frederikme commented on #89
I'll make sure to do a `pip freeze` and update the requirements.txt to the right versions. I'll keep you updated.

[2022-07-08 14:20] frederikme commented on #81
Which python version are you using?
Make sure to use somewhere between `python3.6` to `python3.9`.

[2022-07-08 14:20] #81 closed

[2022-07-08 14:21] #80 closed

[2022-07-09 18:19] BanBan-pixel opened #93 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
Hey guys i'm encountering this issue, do you know how to solve it ?
I'm using ubuntu 22 with python 3.10

python3 auto_swipe.py
Getting ChromeDriver ...
Process Process-1:
Traceback (most recent call last):
  File "/usr/lib/python3.10/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/usr/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self.

[2022-07-13 20:23] vladi7 commented on #87
If it was working fine, then I would suggest deleting the folder "chrome_profile", it worked for me.

[2022-07-21 11:58] #89 closed

[2022-07-27 09:48] JyriGromyko opened #97 "Message: stale element reference: element is not attached to the page document"
C:\Users\Jyrig\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\selenium\webdriver\remote\webelement.py:393: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")
C:\Users\Jyrig\AppData\Local\Pac

[2022-08-03 16:01] vinccirom opened #98 "Geomatch.__init__(self, name, age, work, study, home, gender, bio, distance, passions, image_urls) TypeError: Geomatch.__init__() missing 1 required positional argument: 'instagram'"
The function get_dictionary(self) on the geomatch.py file contains 'instagram': self.get_instagram() as the key value pair. However, when Geomatch is initialized on match.py there is no argument being passed for instagram.

[code]

I shall note that this error gets triggered when the get_new_matches() is called!

[2022-08-10 08:10] mark-baumann commented on #81
Thx for your answear Frederik. I will update my Python Version.

[2022-08-11 20:27] Mr-R-b0t commented on #93
same but on debian 5.10.70-1

[2022-08-17 03:08] Mr-R-b0t commented on #98
Hi,
To avoid this error u can modify geomatch_helper.py to the following :
[code]

[2022-09-26 13:14] juanpnvd commented on #93
same

[2022-11-14 20:18] gianmarcopicarella commented on #93
same

[2022-11-23 16:12] ForestSquirrelDev commented on #84
Step 1: install python from official python website. When installing, choose "download pip"
Step 2: download project dependencies by using pip:
    1. Open command line.
    2. Type the following one-by-one:
        pip install selenium==4.2.0
        pip install undetected-chromedriver==3.0.3
        pip install webdriver-manager==3.5.4
        pip install Pillow==9.0.1
Step 3: Make sure the webd